* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

.login .login-container h2 {
  color: rgb(58, 161, 251);
  justify-content: center;
  text-align: center;
  margin-bottom: 10%;
}

button {
  border: none;
  outline: none;
  width: 100%;
  padding: 15px 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: #4a5cfa;
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
  background:rgba(238, 199, 94, 0.6)
}

.login {
  width: 100%;
  min-height: 100vh;
  padding: 0 20px;
  display: flex;
}

.login .login-container {
  padding: 60px;
  margin: auto;
  width: 100%;
  max-width: 520px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: radial-gradient(
    ellipse at left bottom,
    rgba(33, 38, 93, 0.787) 0%,
    rgba(22, 28, 88, 0.9) 59%,
    rgba(40, 38, 136, 0.829) 100%
  );
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}

.login .login-container label {
  color: white;
  margin: 14px 0;
  display: block;
  font-size: 22px;
  line-height: 1;
}

.login .login-container input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  letter-spacing: 1px;
}

.login .login-container .btn-container {
  width: 100%;
  padding: 24px 0;
}

.login .login-container .btn-container p {
  margin: 14px 0 0 0;
  text-align: right;
  color: #fff;
}

.login .login-container .btn-container p span {
  color: yellow;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.login .login-container .btn-container p span:hover {
  color: rgb(236, 112, 90);
}

.login .login-container .errorMsg {
  color: red;
  font-size: 16px;
}

.hero {
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(
    ellipse at left bottom,
    rgba(22, 24, 47, 1) 0%,
    rgba(38, 20, 72, 0.9) 59%,
    rgba(17, 27, 75, 0.9) 100%
  );
}

.hero nav {
  background: #603bbb;
  width: 100%;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero nav h2 {
  color: #fff;
}

.hero nav button {
  width: 86px;
  padding: 8px 0;
  background: #3a2b58;
}