.movie-icon {
  font-size: 200%;
  margin-left: 1.5rem;
  margin-right: 1rem;
  color: rgb(234, 149, 151);
}

.brand-name {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size-adjust: inherit;
  margin-right: 3rem;
}

.brand-name {
  font-size: 135%;
  margin-top: 4%;
  color: lightyellow;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar {
  background-color: rgb(77, 36, 36);
}

.top-rated-name {
    color: lightyellow;
    font-size: 85%;
}

.fav-movies-name {
    color: lightyellow;
    font-size: 85%;
}

.fav-movies-name:hover {
    color: rgb(238, 238, 141);
    font-size: 90%;
    transition: 0.3s;
}

.top-rated-name:hover {
    color: rgb(238, 238, 141);
    font-size: 90%;
    transition: 0.3s;
}